div{
	text-align: center;
	height: 400px;
	line-height: 100%;
	display: table;
	width: 100%;


}
#one{
	background: url('img1.jpeg') center;
	background-size: cover; 
	height: 600px;
	background-attachment: fixed;
}
#two{
	background: maroon;
}
#three{

	background: url('img2.jpeg') center;
	background-size: cover;
	height: 600px;
	background-attachment: fixed;
}
#four{
	background: aquamarine;
}
span{
	display: table-cell;
	vertical-align: middle;
	
	font-size: 30px;
	font-weight: bold;
	font-family: Century Gothic;
	color: white;
}